# Node.js related
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# OS / Editor / IDE stuff
.DS_Store
.env
.env.local
*.swp
.idea/
.vscode/

# Coverage / test
coverage/
